apiVersion: v1
kind: Secret
metadata:
  name: explore-service-secret
  namespace: default
type: Opaque
# only work for TLS enabled services with LoadBalancer with gRPC HTTP/2.
# type: "kubernetes.io/tls"
stringData:
  DB_PASSWORD: "mysecretpassword"
