variable "aws_region" {
    type    = string
    default = "your_aws_region"
}

variable "eks_cluster_name" {
    type        = string
    description = "your_eks_cluster_name"
}

variable "aws_account_id" {
    type        = string
    description = "your_aws_account_id"
}

variable "aurora_endpoint" {
    type        = string
    description = "Amazon Aurora PostgreSQL Writer Endpoint"
}

variable "db_password" {
    type        = string
    sensitive   = true  # 💡 Marking the variable as sensitive to prevent it from being displayed in logs or output
}
